section:nth-child(2n) {
  background-color: rgb(153, 195, 231);
}

section:nth-child(2n+1) {
  background-color: rgb(137, 202, 172);
}

/* Flexbox */

main {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#datosgenerales {
  flex: 1 1 100%;
}

#habilidadespersonales {
  flex: 1 1 calc(50% - 10px);
}

#conocimientos {
  flex: 1 1 calc(50% - 10px);
}


#trabajosanteriores,
#habilidadesprogramacion,
#proyectosanteriores {
  flex: 1 1 calc(33.333% - 10px);
}

#idiomas,
#medioscontacto {
  flex: 1 1 calc(50% - 10px);
}