main section:nth-child(2n) {
  background-color: turquoise;
}

main section:nth-child(2n+1) {
  background-color: lightpink;
}

/* Grid: AREAS */

#datosgenerales {
  grid-area: header;
}

#habilidadespersonales {
  grid-area: main-left;
}

#conocimientos {
  grid-area: main-right;
}

#trabajosanteriores {
  grid-area: trabajos;
}

#habilidadesprogramacion {
  grid-area: programacion;
}

#proyectosanteriores {
  grid-area: proyectos;
}

#idiomas {
  grid-area: footer-left;
}

#medioscontacto {
  grid-area: footer-right;
}


main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "main-left main-left main-left main-right main-right main-right"
    "trabajos trabajos programacion programacion proyectos proyectos"
    "footer-left footer-left footer-left footer-right footer-right footer-right"
}